body{
	background: #FFFFFF
	url(imagens/bckgraoscafe2b.jpg)
	center right;
	background-attachment: scroll;
	background-repeat: repeat-y;

}

h2{ 
	font-family: 'Anaheim', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #8B6914;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px # ff00de, 0 0 70px # ff00de, 0 0 80px # ff00de, 0 0 100px # ff00de, 0 0 150px # ff00de;    
 }


p{ 
    font-family: 'Anaheim', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-color: #000;
 }

 hr{ width: 70%;
     
 }


.imagens{
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
    border: 30px solid #8C7853; /* Cor da borda */
    border-radius: 10px;border: 3px solid #8C7853; /* Cor da borda */
    border: 30px inset ##CDC0B0;
    
}
