/*
Geral
*/
/*
ppiimagens/094731036882132.jpg
ppiimagens/zendesk-multichannel.png*/


body {
    background-image: url(ppiimagens/094731036882132.jpg);
    background-repeat: no-repea;
    background-size: 100%;
    font-family: "Open sans", helvetica, ARIAL, SANS-SERIF;    text-align: center;
}

H1, H2, h3 {
    color: black;
    text-align: center;
    margin: 1em;
    font-family: "Roboto Slab",  helvetica, ARIAL, SANS-SERIF;
    font-weight: 700;
}

/*
NAVEGAÇÃO
*/


nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
}

nav > a {
    position: center;
    background-repeat: no-repeat;
    padding: 0;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: ;
    font-weight: 700;
    font-size: 60px;
    font-family: Griffy, serif;
}

nav ul {
    background-image: url(fundo);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f1f1f1;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul li {
    text-align: center;
    border-radius: 3px;
    color: #f1f1f1;
}

nav ul li a {
    text-align: center;
    padding: 4px 9px;
    font-size: .9em;
    border-radius: 7px;
    width: 100%;
    line-height: 30px;
    color: #f1f1f1;
    text-decoration: none;
    background-color: #4B0082;
}

/*
CABEÇALHO
*/

header{
    background-color: #f1f1f1;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin: 10px 225px;
}

section{
    background-image: url();
    margin: 10px 225px;
}
    
}

header p {
    margin-bottom: 2em;
}


/*
DEFINICAO
*/

section {
    color: black;
    text-align: justify;
    background-color: #f1f1f1;
    background-image: ;
}

/*
footer
*/

#foo {
    text-align: right;
    color: slategrey;
}

#non{
    background: none;
}


#agenda{
    background-color: #eeeeee;
}