body{
	width: center;
	text-align: center;
}

td, th{
	border: 1px solid #dddddd;
	padding: 15px;
	font-size: 18px;
	}


th{
	background: #2E2EFE;
}

td{
	background: #088A08;
}

table{
	border-collapse: separate;
	empty-cells: hide;
	width: 30%;
	line-height: 1;
	margin: auto;
	
	}


.titulo{
	background: #848484;
	color: #F2F2F2;
}

.imagem{
	
	border: 1px;
	background-color: white;
	max-width: 0px;
		}